<section
  id="aboutUs"
  class="text-black overflow-hidden py-28 bg-cover bg-center bg-[#FAB927]"
>
  <h2
    class="text-4xl font-bold text-center title-font text-black tracking-widest bg-opacity-70"
  >
    Nosotros
  </h2>
  <div class="container px-5 py-24 mx-auto rounded-lg">
    <div class="lg:w-4/5 mx-auto flex flex-wrap relative">
      <div
        class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 text-lg lg:mb-0 space-y-6 relative z-10"
      >
        <h3 class="text-3xl text-center">
          Descubre tu potencial en el mundo del marketing digital
        </h3>
        <p class="leading-relaxed text-justify rounded-lg">
          ¿Quieres iniciar en el emocionante mundo del marketing digital? <span
            class="font-bold text-[#A61AD7]"
            >Nosotros somos los especialistas que necesitas.
          </span> Con carreras en diseño gráfico, publicidad y programación, nuestro
          equipo aprovecha las infinitas oportunidades que ofrece el marketing digital
          para llevar tu marca al siguiente nivel.
        </p>
        <h3 class="leading-relaxed text-2xl text-justify font-bold">
          ¿Qué ofrecemos?
        </h3>
        <ul class="leading-relaxed text-justify rounded-lg">
          <li>
            ⦁<span class="font-bold text-[#A61AD7]"
              >Gestión de comunidad en redes sociales,</span
            > creando relaciones significativas con tus clientes.
          </li>
          <li>
            ⦁<span class="font-bold text-[#A61AD7]"
              >Cursos especializados
            </span>para quienes desean comenzar en el marketing digital.
          </li>
          <li>
            ⦁<span class="font-bold text-[#A61AD7]"
              >Creación de landing pages y logos</span
            > que capturan la esencia real de tu marca.
          </li>
        </ul>
        <p class="leading-relaxed text-justify rounded-lg">
          Estamos impulsados por las nuevas tecnologías y somos apasionados de
          las estrategias y los datos. <span class="font-bold text-[#A61AD7]"
            >Nos inspira la visión de nuestros clientes y nos enfocamos en
            lograr resultados excepcionales.
          </span>
        </p>
        <p
          class="font-bold text-[#A61AD7] leading-relaxed text-justify rounded-lg"
        >
          Mejora las experiencias de usuario y alcanza tus objetivos con una
          mentalidad inbound.
        </p>
      </div>
      <div class="lg:w-1/2 w-full flex flex-col items-center lg:mt-6 lg:gap-10">
        <p class="text-black text-3xl text-center lg:my-0 my-6">
          ¡Únete a nosotros y transforma tu futuro en el marketing digital!
        </p>

        <div class="flex items-center lg:gap-8">
          <a href="www.linkedin.com" target="_blank" rel="noopener noreferrer">
            <div class="flex items-center lg:gap-2 mb-6">
              <img
                class="w-24 h-24 lg:w-24 lg:h-24 object-cover object-center rounded-3xl hover:animate-bounce"
                src="/youtube.svg"
                width="200"
                height="200"
                loading="lazy"
                decoding="async"
                alt="youtube-logo"
              />
              <p class="text-2xl text-black">Youtube</p>
            </div>
          </a>
          <a
            href="https://www.instagram.com/makeyourselfsee/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="flex items-center lg:gap-2 mt-16">
              <p class="text-2xl text-black">Instagram</p>
              <img
                class="w-24 h-24 lg:w-24 lg:h-24 object-cover object-center rounded-3xl hover:animate-bounce"
                src="/instagram.svg"
                width="200"
                height="200"
                loading="lazy"
                decoding="async"
                alt="instagram-logo"
              />
            </div>
          </a>
        </div>
        <div class="flex items-center lg:gap-8 my-2">
          <a
            href="https://www.facebook.com/makeyourselfsee"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="flex items-center lg:gap-4 mb-6">
              <img
                class="w-24 h-24 lg:w-24 lg:h-24 object-cover object-center rounded-3xl hover:animate-bounce"
                src="/facebook.svg"
                width="200"
                height="200"
                loading="lazy"
                decoding="async"
                alt="instagram-logo"
              />
              <p class="text-2xl text-black mr-6">Facebook</p>
            </div>
          </a>
          <a href="www.instagram.com" target="_blank" rel="noopener noreferrer">
            <div class="flex items-center lg:gap-2 mt-16">
              <p class="text-2xl text-black">TikTok</p>
              <img
                class="w-24 h-24 lg:w-24 lg:h-24 object-cover object-center rounded-3xl hover:animate-bounce"
                src="/tiktok.svg"
                width="200"
                height="200"
                loading="lazy"
                decoding="async"
                alt="instagram-logo"
              />
            </div>
          </a>
        </div>
        <div class="flex items-center lg:gap-8">
          <a
            href="https://api.whatsapp.com/send?phone=+541132473163&text=Hola%20Make%20Yourself%20See"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="flex items-center lg:gap-4 mb-6">
              <img
                class="w-24 h-24 lg:w-22 lg:h-22 object-cover object-center rounded-3xl hover:animate-bounce"
                src="/whatsapp.svg"
                width="200"
                height="200"
                loading="lazy"
                decoding="async"
                alt="instagram-logo"
              />
              <p class="text-2xl text-black">Whatsapp</p>
            </div>
          </a>
          <a
            href="https://www.linkedin.com/company/make-your-self-see/posts/?feedView=all"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="flex items-center mt-16 lg:gap-4">
              <p class="text-2xl text-black h">Linkedin</p>
              <img
                class="w-24 h-24 lg:w-24 lg:h-24 object-cover object-center rounded-3xl hover:animate-bounce"
                src="/linkedinLogo.svg"
                width="200"
                height="200"
                loading="lazy"
                decoding="async"
                alt="instagram-logo"
              />
            </div>
          </a>
        </div>
      </div>
      <div
        class="absolute inset-0 lg:w-1/2 bg-cover bg-center opacity-60 z-0 background-custom"
      >
      </div>
    </div>
  </div>
</section>

<style>
  .background-custom {
    background-image: url("/sinBg.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    opacity: 0.4;
  }
  @media (max-width: 768px) {
    .background-custom {
      background-size: 140%;
      background-position: 52% -0%;
      margin-top: 20%;
      opacity: 0.4;
    }
  }
</style>
