<section
  id="aboutUs"
  class="text-black body-font overflow-hidden bg-cover bg-center mt-10"
>
  <h2
    class="text-4xl font-bold text-center mt-11 title-font text-black tracking-widest bg-white bg-opacity-70"
  >
    Nosotros
  </h2>
  <div class="container px-5 py-24 mx-auto rounded-lg">
    <div class="lg:w-4/5 mx-auto flex flex-wrap relative">
      <div
        class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 font-bold lg:mb-0 space-y-6 relative z-10"
      >
        <p class="leading-relaxed text-justify text-base rounded-lg">
          Somos especialistas en diversas ramas de la comunicación. Con carreras
          iniciadas en diseño gráfico, publicidad y programación, trabajamos en
          equipo desde cada sector. Aprovechamos la oportunidad que ofrece el
          mundo digital de marketing.
        </p>
        <p class="leading-relaxed text-justify text-base rounded-lg">
          Realizamos cursos para aquellos que quieren iniciar en mundo del
          marketing. Estamos impulsados por las nuevas tecnologías, somos
          fanáticos de las estrategias y datos, e inspirados por la visión de
          nuestros clientes. Creando landing pages, logos y gestionamos la
          comunidad a través de las redes sociales.
        </p>
        <p class="leading-relaxed text-justify text-base rounded-lg">
          Enfocamos nuestras acciones en lograr el mejor resultado posible,
          mejorando las experiencias de usuario y alcanzando los objetivos,
          siempre con una mentalidad inbound.
        </p>
      </div>
      <div class="lg:w-1/2 w-full flex justify-center items-center">
        <a href="www.linkedin.com" target="_blank" rel="noopener noreferrer">
          <img
            class="w-48 h-48 lg:w-64 lg:h-64 object-cover object-center rounded-3xl hover:scale-110 duration-300"
            src="/linkedin.svg"
            width="200"
            height="200"
            loading="lazy"
            decoding="async"
            alt="linkedin"
          />
        </a>
      </div>
      <div
        class="absolute inset-0 lg:w-1/2 bg-cover bg-center opacity-60 z-0 background-custom"
      >
      </div>
    </div>
  </div>
</section>
<style>
  .background-custom {
    background-image: url("./public/sinBg.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }
  @media (max-width: 768px) {
    .background-custom {
      background-size: 160%;
      background-position: 50% 0%;
    }
  }
</style>
