<section id="aboutUs" class="text-black body-font overflow-hidden">
  <h2
    class="text-4xl font-bold text-center mt-11 title-font text-black tracking-widest"
  >
    Nosotros
  </h2>
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <p class="leading-relaxed mb-6 text-justify text-lg rounded-lg">
          Somos especialistas en diversas ramas de la comunicación. Con carreras
          iniciadas en diseño gráfico, publicidad y programación, trabajamos en
          equipo desde cada sector. Aprovechamos la oportunidad que ofrece el
          mundo digital de marketing.
        </p>
        <p class="leading-relaxed mb-6 text-justify text-lg rounded-lg">
          Realizamos cursos para aquellos que quieren iniciar en mundo del
          marketing. Estamos impulsados por las nuevas tecnologías, somos
          fanáticos de las estrategias y datos, e inspirados por la visión de
          nuestros clientes. Creando landing pages, logos y gestionamos la
          comunidad a través de las redes sociales.
        </p>
        <p class="leading-relaxed mb-6 text-justify text-lg rounded-lg">
          Enfocamos nuestras acciones en lograr el mejor resultado posible,
          mejorando las experiencias de usuario y alcanzando los objetivos,
          siempre con una mentalidad inbound.
        </p>
      </div>
      <div class="lg:w-1/2 w-full flex justify-center items-center">
        <img
          alt="linkedin"
          class="w-32 h-32 lg:w-auto lg:h-auto object-cover object-center rounded-3xl"
          src="./public/linkedin.svg"
        />
      </div>
    </div>
  </div>
</section>
