<footer class="text-gray-600 body-font bg-black">
  <div
    class="container px-5 py-8 mx-auto flex flex-col sm:flex-row items-center sm:justify-between"
  >
    <a
      class="flex items-center justify-center sm:justify-start text-gray-900 mb-4 sm:mb-0"
    >
      <img
        src="/logoNew.webp"
        class="w-12 h-12 text-white rounded-full"
        alt="logo"
        width="200"
        height="200"
        loading="lazy"
        decoding="async"
      />
      <div class="ml-3 text-xl text-white">
        <span class="text-[#FAB927]"> MAKE </span>
        <span class="text-white"> YOUR SELF </span>
        <span class="text-[#A61AD7]"> SEE </span>
      </div>
    </a>
    <p class="text-sm sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4">
      <span class="text-[#FAB927]"> MAKE </span>
      <span class="text-white"> YOUR SELF </span>
      <span class="text-[#A61AD7]"> SEE </span>
    </p>
  </div>
</footer>
