---
---

<section class="text-gray-600 bg-black body-font">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center "
  >
    <div
      class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
    >
      <h1
        class="title-font sm:text-4xl text-6xl mb-4 font-medium text-[#febc26] slide-in-text"
      >
      <span class="text-[#FAB927]">
        MAKE
      </span>
      <span class="text-white">
        YOUR SELF
      </span>
      <span class="text-[#A61AD7]">
        SEE
      </span>
        <br class="hidden lg:inline-block" />
        <h4
          class="title-font sm:text-4xl text-2xl mb-4 font-medium text-[#886920] slide-in-text uppercase"
        >
          ¡Lleva tu presencia digital al siguiente nivel!
        </h4>
      </h1>
      <p class="mb-8 leading-relaxed text-base text-white">
        Desarrollamos estrategias digitales personalizadas que transforman resultados, combinando creatividad, datos y tecnología para optimizar experiencias de usuario, landing pages efectivas, diseñamos tus logos impactantes y gestionamos tus comunidades con un enfoque inbound.
      </p>
      <p class="mb-8 leading-relaxed text-base text-[#A61AD7]">
        Anímate a agendar una llamada y descubre cómo nuestras estrategias digitales pueden impulsar tu negocio hacia nuevas alturas. Ofrecemos soluciones personalizadas que optimizan la experiencia del usuario, mejoran la retención de clientes y maximizan la rentabilidad. Estamos comprometidos con tu éxito y listos para diseñar un plan que te ayude a alcanzar tus metas de manera sostenible y efectiva.
      </p>  
      <div class="flex justify-center gap-4 ">
        <a
        href="https://api.whatsapp.com/send?phone=+541132473163&text=Hola%20Make%20Yourself%20See"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button
          class="inline-flex text-white bg-[#A71BDB] border-0 py-2 px-4 focus:outline-none hover:bg-[#671585] rounded text-lg"
          >Agendar tu llamado</button
        >
      </a>
      <a
        href="https://api.whatsapp.com/send?phone=+541132473163&text=Hola%20quiero%20informacion%20Sobre%20Make%20Yourself%20See"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button
        class="inline-flex text-white bg-[#A71BDB] border-0 py-2 px-7 focus:outline-none hover:bg-[#671585] rounded text-lg"
        >Agendar curso</button
        >
      </a>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img
        class="object-cover object-center rounded"
        src="/logoNew.webp"
        width="500"
        height="500"
        decoding="async"
        loading="lazy"
        alt="hero"
      />
    </div>
  </div>
</section>
<style>
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .slide-in-text {
    display: inline-block;
    animation: slideIn 1s ease-in-out forwards;
  }
</style>
