---

---

<section id="services" class="text-gray-600 body-font py-28">
  <div class="container px-5 lg:py-24 mx-auto">
    <h1
      class="text-4xl font-bold text-center title-font text-black tracking-widest bg-white bg-opacity-70"
    >
      Servicios
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pt-24">
      <div class="h-full text-center p-4">
        <img
          src="/sitiosWeb.webp"
          class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block"
          alt="web"
          height="auto"
          width="auto"
          loading="lazy"
          decoding="async"
        />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          Sitios web
        </h1>
        <p class="leading-relaxed">
          <span class="font-bold"
            >¡Eleva tu presencia digital al siguiente nivel!
          </span> Rediseñamos y producimos sitios web que no solo comunican la personalidad
          única de tu marca, sino que también garantizan la mayor compatibilidad
          con buscadores y una experiencia responsive y optimizada. <span
            class="font-bold"
            >Transforma tu sitio web en una poderosa herramienta de marketing y
            ventas.
          </span> Descubre cómo un diseño web adaptado a tus necesidades puede hacer
          la diferencia. ¡Contacta con nosotros y comienza hoy!
        </p>
      </div>
      <div class="h-full text-center p-4">
        <img
          src="/diseño.webp"
          class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block"
          alt="web"
          height="auto"
          width="auto"
          loading="lazy"
          decoding="async"
        />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          Diseño Grafico
        </h1>
        <p class="leading-relaxed">
          <span class="font-bold">¡Haz que tu marca destaque! </span> Desarrollamos
          planes de identidad corporativa, branding, dirección de arte, diseño gráfico,
          packaging, editorial, web, ilustración y fotografía. <span
            class="font-bold"
            >Sea cual sea tu necesidad, tenemos la solución perfecta.</span
          > Con nuestros servicios individuales o planes de comunicación integral,
          tu marca tendrá la identidad visual que merece. ¡Impulsa tu imagen hoy
          mismo!
        </p>
      </div>
      <div class="h-full text-center p-4">
        <img
          src="/comunity.webp"
          class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block"
          alt="web"
          height="auto"
          width="auto"
          loading="lazy"
          decoding="async"
        />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          Comunity Manager
        </h1>
        <p class="leading-relaxed">
          <span class="font-bold"
            >¡Conéctate con tu audiencia como nunca antes!</span
          > Gestionamos tus redes sociales, creando estrategias personalizadas que
          maximizan la interacción y fortalecen la relación con tus clientes. <span
            class="font-bold"
            >Aprovecha el poder de las redes sociales para crecer y destacarte.</span
          > Construimos y potenciamos tu comunicación digital para que tu marca brille.
          ¡Dale vida a tu presencia en redes con nosotros!
        </p>
      </div>
      <div class="h-full text-center p-4">
        <img
          src="/ads.webp"
          class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block"
          alt="web"
          height="auto"
          width="auto"
          loading="lazy"
          decoding="async"
        />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          ADS Manager
        </h1>
        <p class="leading-relaxed">
          <span>¡Amplifica tu mensaje y alcanza tus objetivos! </span> Gestionamos
          tu publicidad en Facebook ADS con campañas estratégicas diseñadas específicamente
          para ti. <span class="font-bold"
            >No desperdicies tu inversión en publicidad genérica.
          </span> Nuestros anuncios están creados con un propósito claro y efectivo,
          asegurando resultados medibles y éxito. ¡Invierte en publicidad que realmente
          funcione!
        </p>
      </div>
    </div>
  </div>
</section>
