---

---

<section id="services" class="text-gray-600 body-font py-28">
  <div class="container px-5 lg:py-24 mx-auto">
    <h1
      class="text-4xl font-bold text-center  title-font text-black tracking-widest bg-white bg-opacity-70"
    >
      Servicios
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 pt-24">
      <div class="h-full text-center p-4">
       <img src="/sitiosWeb.webp" class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block" alt="web" height="auto" width="auto" loading="lazy" decoding="async"  />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          Sitios web
        </h1>
        <p class="leading-relaxed">
          Rediseñamos y producimos sitios convencionales y autoadministrables
          que comunican la personalidad de su marca, garantizando la mayor
          compatibilidad con buscadores responsive y optimizados. Además,
          diseñamos y producimos los sitios adaptados a sus necesidades.
        </p>
      </div>
      <div class="h-full text-center p-4">
        <img src="/diseño.webp" class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block" alt="web" height="auto" width="auto" loading="lazy" decoding="async"  />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          Diseño Grafico
        </h1>
        <p class="leading-relaxed">
          Desarrollamos planes de identidad corporativa, branding, dirección de
          arte, diseño gráfico, packaging, editorial, web, ilustración y
          fotografía. Brindamos servicios individuales o planes de comunicación
          integral.
        </p>
      </div>
      <div class="h-full text-center p-4">
        <img src="/comunity.webp" class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block" alt="web" height="auto" width="auto" loading="lazy" decoding="async"  />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          Comunity Manager
        </h1>
        <p class="leading-relaxed">
          Manejamos tus redes sociales ya que nos brindan la ventaja de la
          multidireccionalidad en la comunicación. Nos permiten establecer
          nuevos tipos de relaciones con los clientes, conociendo y escuchando a
          los mismos. Pensamos y creamos estrategias en redes sociales adaptadas
          a las necesidades de cada marca. Construimos tu comunicación digital y
          la potenciamos.
        </p>
      </div>
      <div class="h-full text-center p-4">
        <img src="/ads.webp" class="w-24 h-24 mb-8 object-cover object-center rounded-full inline-block" alt="web" height="auto" width="auto" loading="lazy" decoding="async"  />
        <h1 class="title-font font-medium text-3xl text-gray-900 mb-6">
          ADS manager
        </h1>
        <p class="leading-relaxed">
          Gestionamos tu publicidad en Facebook ADS. Si tu estrategia de
          comunicación incluyea las redes sociales, la única forma de amplificar
          tu mensaje de forma controlada es invertir en publicidad. No cualquier
          publicidad es válida, sino campañas pensadas alrededor de tus
          objetivos. Publicidad con propósito claro.
        </p>
      </div>
    </div>
  </div>
</section>
